.body {
  font-family: Arial
}

.card {
  float: left;
  border: solid 1px black;
  width: 100px;
  border-radius: 5px;
  height: 140px;
  margin-right: 20px;
  background-size: 100%;
}

.card.covered {
  background-image: url("cards/card-back.png");.
}

.hand, .playerHand {
  overflow: auto;
}

.playerStats {
  display: inline-block;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 10px;
}

.playerButtons, .playerCards, .playerStats {
  padding: 10px;
  display: block;
}

.playerCards {
  height: 150px;
}

.playerStats {
  width: 300px;
}